@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Sour Gummy", serif;
}

.overlay {
  backdrop-filter: blur(2px);
}
.bg-main {
  background: rgba(46, 138, 138, 0.4);
}

.title-action {
  background: linear-gradient(#9e9013, #0b16df, #e32626);
  background-clip: text;
  background-position: center;
  background-size: cover;
  color: transparent;
}

.title {
  background-image: url("../../assets/images/giphy.gif");
  background-clip: text;
  background-position: center;
  background-size: contain;
  color: transparent;
}

.long-den {
  background-image: url("../../assets/images/longden.gif");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.chu-dong {
  background-image: url("../../assets/images/chu-cmnm.gif");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.phao-hoa {
  background-image: url("../../assets/images/longden.gif");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
