@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Sour Gummy", serif;
}

#layout {
  background: linear-gradient(#e66465, #9198e5);
  background-image: url("../../assets/images/anime_girls_1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-main {
  background-color: rgba(46, 138, 138, 0.5);
}

.title-action {
  background: linear-gradient(#9e9013, #0b16df, #e32626);
  background-clip: text;
  background-position: center;
  background-size: cover;
  color: transparent;
}

.title {
  background-image: url("../../assets/images/giphy.gif");
  background-clip: text;
  background-position: center;
  background-size: contain;
  color: transparent;
}
