@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Sour Gummy", serif;
}

#layout {
  background: linear-gradient(#438891, #8428b1);
}

.title-action {
  background: linear-gradient(#a2930c, #0b16df, #e32626);
  background-clip: text;
  background-position: center;
  background-size: contain;
  color: transparent;
}

.title {
  background-image: url("../../assets/images/giphy.gif");
  background-clip: text;
  background-position: center;
  background-size: cover;
  color: transparent;
}
