@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-small-layout {
    background: linear-gradient(#5349494a, #9198e5);
    background-image: url("./assets/images/hinh-tien-hiep-phong-canh.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-large-layout {
    background: linear-gradient(#5349494a, #9198e5);
    background-image: url("./assets/images/anh-tien-hiep-the-gioi-huyen-bi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
